@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}



@font-face {
  font-family: 'bungee';
  src: url('../public/BungeeShade-Regular.ttf');
}

@layer base{
  h1{
    @apply text-5xl;
  }
}

/* @keyframes borderGlow{
0%{border-color: teal;}
100%{border-color: aquamarine;}
} */
